 @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--sendbird-light-primary-500);
}

.App {
  height: 100vh;
  width: 100vW;
}

.channel-wrap {
  height: 100%;
  display: flex;
}
.channel-list {
  float: left;
}

.channel-chat {
  width: 76%;
}

.render-btn {
  border: none;
  border-radius: 50%;
  background: var(--sendbird-light-primary-500);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.render-btn:hover {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}